<<<<<<< HEAD
body {
    background-color: rgb(248, 250, 250);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

 nav li {
    display: inline-flex;
    justify-content: space-between 
 }

 nav {
    background-color: solid blue ;
    border: 2px solid blue;
    border-radius: 5px; 
    }

pre {
   border: 1px solid gray;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  color:black;
}









    
=======
.pé{ 
    background-color: #02abc2;
    text-align: center;
    color: white;
}
.textdc{text-decoration: none;
color: white;}
td, th {
    text-align: left;
    padding: 8px;
  }
>>>>>>> 45cb595e2c7114567bf441098bfa4a332571a052
