 
body {
    background-color:rgb(241, 229, 208);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

 nav li {
    display: inline-flex;
    justify-content: space-between 
 }

 nav {
    background-color: solid rgb(191, 191, 233) ;
    border: 2px solid rgb(191, 191, 233);
    border-radius: 5px;
    }

pre {
   border: 1px solid gray;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  color:black;
}


.pé{ 
    background-color: #02abc2;
    text-align: center;
    color: white;
}
.textdc{text-decoration: none;
color: white;}
td, th {
    text-align: left;
    padding: 8px;
  }

.div a {
  padding: 10px;
}
.div {
  text-align: center;
}

   
 
